
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    text-align: center;
    border: 7px solid red;  
    width: 300px;  
    height: 200px;  
    padding-top: 100px;  
}


form {
    width: 100%;
    max-width: 250px; 
    
}

form label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    
    
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;

}
input[type=text]:focus {
  background-color: lightblue;}


form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
input[type=submit]{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  


.error {
    color: red;
    font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00000000;
}
.logo img {
    max-height: 60px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.footer-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-content ul li {
    display: inline;
    margin-left: 10px;
}

.footer-content ul li a {
    color: #fff;
    text-decoration: none;
}


  
 
  